<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Village</title>
    </head>
    <body>
        <div class="village">
            <label id="foodLabelId"/>
        </div>
        <script th:inline="javascript">
            /*<![CDATA[*/
                var food = /*[[${food}]]*/ 'default';
                var foodLabel = document.getElementById("foodLabelId");
                var foodActual = food.resourceTotal;
                var foodIncome = food.resourceIncome/60;

                setInterval(setFood, 1000);

                function setFood() {
                    foodActual = foodActual + foodIncome;
                    foodLabel.innerHTML = (Math.round(foodActual*100)/100).toFixed(1);
                    }

                console.log(food);

            /*]]>*/
        </script>
    </body>
</html>